.testimonials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.testimonial {
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  gap: 1.5rem;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fafafa;
  transition: all 0.3s ease;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-content {
  flex: 1;
  max-width: 80%;
}

.testimonial-name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.testimonial-job {
  color: #6a6969;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.testimonial-content p {
  font-size: 1.25rem;
  padding: 10px 0;
  font-style: oblique;
}

.joseph-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.about {
  padding-top: 6rem;
  background-color: var(--light);
}

.about-text p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .testimonial {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonial img {
    margin-bottom: 1rem;
  }

  .testimonial-content {
    width: 100%;
  }

  .joseph-image img {
    width: 150px;
    height: 150px;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .about-text h2 {
    font-size: 2.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}
